{% extends 'salasadobe/base.html' %}
{% load static %}
{% block content %}
        <div class="row d-flex justify-content-center">
            <div>
                <div class="alert alert-dark" role="alert">
                    <div class="login">
                        <h5 class="sala text-center">Sala {{sala.nombre}}</h5>
                        <hr>
                        <p class="text-center">
                            <a id="boton-login" class="btn btn-success card-link" role="button" onClick="javascript:window.open('https://{{domain}}.adobeconnect.com/{{sala.nombre}}/?session={{cookie}}','Breeze', 'toolbar=no,menubar=no,width=800,height=600,resizable=yes'); return false">
                             <i class="fas fa-video fa-4x"> </i> Conectar
                            </a>
                        </p>
                    </div>
                    <div class="logout">
                        <p class="text-center">
                            <a id="boton-logout" class="btn btn-secondary card-link" role="button" href="/salasadobe/disconnect/{{sala.pk}}?session={{cookie}}">
                             Desconectar
                             <i class="fa fa-power-off"> </i>
                            </a>
                        </p>
                    </div>
                    <div class="return hidden">
                        <p class="text-center">
                            <a id="boton-return" class="btn btn-secondary card-link" role="button" href="/salasadobe/disconnect/{{sala.pk}}?session={{cookie}}">
                             Volver
                             <i class="fa fa-reply"> </i>
                            </a>
                        </p>
                    </div>
                    <hr>
                    <div>
                        <p>
                        <dl>
                            <dt class="col-sm-3">Enlace:</dt>
                            <dd class="col-sm-9">

                                https://salas.uca.es/aula/{{sala.nombre}}/

                            </dd>
{% comment %}
                            <a id="botonCopy" class="btn btn-light btn-sm" target="_blank" onClick="copyLink()">
                             <i class="fa fa-files-o"></i>
                            </a>
{% endcomment %}
                        </dl>
                        </p>
                    </div>
{% comment %}
                    <div>
                        <hr>
                        <p>
                            <dl>
                                <dt class="col-sm-3">Contenidos:</dt>
                                <dd class="col-sm-9">
                                    <a class="btn btn-secondary btn-sm" role="button" href="{% url 'content' sala.pk %}?session={{cookie}}">
                                        <i class="fa fa-file-video-o fa-2x"></i>
                                    </a>
                                </dd>
                            </dl>
                        </p>
                    </div>
{% endcomment %}
                </div>
            </div>
    </div>
{% endblock %}

 {% block scripts %}
<script src="{% static 'salasadobe/js/connect.js' %}" ></script>
 {% endblock %}
