{% extends 'salasadobe/base.html' %}
{% load static %}
{% block content %}
        <div class="row d-flex justify-content-center">
            <div>
                <div class="return">
                    <p class="text-right">
                        <a id="boton-return" class="btn btn-secondary card-link" role="button" href="#" onClick="history.back()">
                         Volver
                         <i class="fa fa-reply"> </i>
                        </a>
                        <a id="boton-mostrar" class="btn btn-info card-link" role="button">
                         Mostrar todo
                         <i class="fa fa-arrows-v"> </i>
                        </a>
                    </p>
                </div>
                <div class="alert alert-dark" role="alert">
                    <div>
                        <h5 class="sala text-center">Sala {{sala.nombre}}</h5>
                        <table class="table">
                          <thead>
                            <tr>
                                <th scope="col">Contenido</th>
                                <th scope="col">Creado</th>
                                <th scope="col">Duraci&oacute;n</th>
                                <th scope="col">Enlace</th>
                                <th class="no-mostrar hidden" scope="col">Descargar</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for resultado in resultados %}
                            {% if resultado.6 %}
                            <tr>
                            {% else %}
                            <tr class="no-mostrar hidden">
                            {% endif %}
                              <th scope="row">{{resultado.1}}</th>
                                <td>{{resultado.3}}</td>
                                <td>{{resultado.4}}</td>
                                <td class="text-center">
                                    <a class="btn btn-outline-secondary btn-sm" role="button" onClick="javascript:window.open('https://{{domain}}.adobeconnect.com/{{resultado.5}}','Breeze', 'toolbar=no,menubar=no,width=800,height=600,resizable=yes'); return false">
                                        {% if resultado.6 %}
                                        <i class="fa fa-file-video-o fa-2x"></i>
                                        {% else %}
                                        <i class="fa fa-file-o fa-2x"></i>
                                        {% endif %}
                                    </a>
                                </td>
                                <td class="no-mostrar hidden text-center">
                                    <a class="btn btn-outline-secondary btn-sm" role="button" onClick="javascript:window.open('https://{{domain}}.adobeconnect.com/{{resultado.5}}/output/{{resultado.5}}.zip?download=zip','Breeze', 'toolbar=no,menubar=no,width=800,height=600,resizable=yes'); return false">
                                        <i class="fa fa-download fa-2x"></i>
                                    </a>
                                </td>
                            </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                    </div>
                    <hr>
                </div>
            </div>
    </div>
{% endblock %}
{% block scripts %}
<script src="{% static 'salasadobe/js/content.js' %}" ></script>
{% endblock %}


