{% extends 'salasadobe/base.html' %}
{% load static %}
{% block content %}

        <div class="row d-flex justify-content-center">
            <div class="col-sm-6">
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">¡Error!</h4>
                    <p class="text-center">
                        Error: En estos momentos no disponemos de recursos suficientes para alojar la sala. Sala: {{object.nombre}}
                    </p>
                    <hr>
                    <p>
                        <dl>
                            <dt class="col-sm-3">Sala: </dt>
                            <dd class="col-sm-9">{{object.nombre}}</dd>
                        </dl>
                    </p>
                </div>
            </div>
    </div>

{% endblock %}