{% extends 'inventarioav/base.html' %}
{% load static %}
{% block content %}
    <div class="row justify-content-md-left">
       <h2>{{dependencia}}</h2>
    </div>

    <div class="row justify-content-md-left">
        <div class="card card-clase" style="width: 32rem;">
            <div class="card-body">
                <h5 class="card-title">
                    V&iacute;deo
                    <a class="btn btn-secondary btn-sm" role="button" href="#">
                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                    </a>
                </h5>

                <ul class="list-group">
                    {% for equipo_video in dependencia.equipos_video %}
                    <li class="list-group-item">
                        <h6>
                            {{equipo_video}}
                            <a class="btn btn-secondary btn-sm float-right" role="button" href="#">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </h6>
                    </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
<div class="card card-clase" style="width: 32rem;">
            <div class="card-body">
                <h5 class="card-title">
                    Audio
                    <a class="btn btn-secondary btn-sm" role="button" href="#">
                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                    </a>
                </h5>

                <ul class="list-group">
                    {% for equipo_audio in dependencia.equipos_audio %}
                    <li class="list-group-item">
                        <h6>
                            {{equipo_audio}}
                            <a class="btn btn-secondary btn-sm float-right" role="button" href="#">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </h6>
                    </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
        <div class="card card-clase" style="width: 32rem;">
            <div class="card-body">
                <h5 class="card-title">Equipos</h5>
            </div>
        </div>
        <div class="card card-clase" style="width: 32rem;">
            <div class="card-body">
                <h5 class="card-title">Control</h5>
            </div>
        </div>
        <div class="card card-clase" style="width: 32rem;">
            <div class="card-body">
                <h5 class="card-title">Software</h5>
            </div>
        </div>
        <div class="card card-clase" style="width: 32rem;">
            <div class="card-body">
                <h5 class="card-title">Infraestructura</h5>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script src="{% static 'salasadobe/js/content.js' %}" ></script>
{% endblock %}


